@keyframes o-voip-SystrayItem-vibrateAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(-2px);
    }
}

.o-voip-SystrayItem-vibrate {
    animation: vibrate 0.3s infinite;
}
